body{
  background: #2D9E94;
}

/*Index page*/
#button_alphabet button{ 
    width: 60px;
    height: 60px;
    background-color: white; 
    border: none;
    color: #2D9E94;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight:bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    outline: 0;
}
 
#button_alphabet button:hover{
  background-color: #2D9E94;;
  color:white;
}

#definition{
  font-size: 20px;
  font-family: Trebuchet MS, sans-serif;
  text-align: center;
  display: block;
  color:rgb(37, 38, 102);
  font-weight: bold;
}

#thisword li {
    position: relative;
    list-style: none;
    margin: 0;
    display: inline-block;
    padding: 0 10px;
    font-size:1.6em;
    color:white;
    text-align:center;
  }

  #thisword{
    text-align:center;
  }

  #triesLeft {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    display: block;
    color:rgb(37, 38, 102);
    font-family: Trebuchet MS, sans-serif;
  }

  #score{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    display: block;
    color:white;
    font-family: Trebuchet MS, sans-serif;
    color:rgb(37, 38, 102);
  }

  #button_alphabet{
    font-size: 1.6em;
    font-family:arial;
    text-align: center;
    display: block;
    color:white;
    font-family: Trebuchet MS, sans-serif;
  }

.topContainer{
    text-align:center;
}

.resetContainer{
    text-align:center;
    position: relative;

    
}

  /*Login page*/ 
  h1{
    margin-top:20px; 
    font-size:45px;
    font-weight:bold;
    text-align: center;
    color:white;
    font-family: Trebuchet MS, sans-serif
  }

  .form{
    position:relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
    padding: 45px;
    text-align: center;
    background: #2D9E94;
  }

  .form input{
    outline: 1;
    width: 100%;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size:14px;
    background: #2D9E94;
    border:0;
    border-bottom: 1px solid white;
    color:white;
    outline: 0; 
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

  .form button{
    outline:0;
    margin: 0 auto 10px;
    width: 50%;
    border:1px solid aliceblue;
    padding: 15px;
    font-size:14px;
    cursor:pointer;
    background-color: #2D9E94;
    color:white;
  }
  
  .form button:hover{
    background-color: rgb(34, 110, 104);;
    color:white;
  }

  /*Leaderboard*/
#leaderboardName{
  color:white;
  font-size:45px;
  font-family: Trebuchet MS, sans-serif;
  font-weight: bold;
}

.lead{
  display:table;
  margin: 150px auto;                   
                              
  transform: translateY(-50%); 
}

#leaderboard{
  color:white;
  font-size:20px;
  text-align: center;
  font-family: Trebuchet MS, sans-serif;

}

/* Common Buttons */
#btnSubmit{
  outline:0;
  margin: 0 auto 10px;
  background-color: #2D9E94;
  color:white;
  border:1px solid aliceblue;
  padding: 15px;
  font-size:14px;
  cursor:pointer;
}
#btnSubmit:hover{
  background-color: rgb(34, 110, 104);;
  color:white;
}

#btnHome{
  outline:0;
  margin: 0 auto 10px;
  background-color: #2D9E94;
  color:white;
  border:1px solid aliceblue;
  padding: 15px;
  font-size:14px;
  cursor:pointer;
}

#btnHome:hover{
  background-color: rgb(34, 110, 104);;
  color:white;
}

#btnLogout{
  outline:0;
  margin: 0 auto 10px;
  background-color: #2D9E94;
  border:1px solid aliceblue;
  color:white;
  padding: 15px;
  font-size:14px;
  cursor:pointer;
}

#btnLogout:hover{
  background-color: rgb(34, 110, 104);;
  color:white;
}

#btnLeaderboard{
  outline:0;
  margin: 0 auto 10px;
  background-color: #2D9E94;
  color:white;
  border:1px solid aliceblue;
  padding: 15px;
  font-size:14px;
  cursor:pointer;
  border-color:white;
}

#btnLeaderboard:hover{
  background-color: rgb(34, 110, 104);;
  color:white;
}

#btnReset{
  outline:0;
  margin: 0 auto 10px;
  background-color: #2D9E94;
  color:white;
  border:1px solid aliceblue;
  padding: 15px;
  font-size:14px;
  cursor:pointer;
}

#btnReset:hover{
  background-color: rgb(34, 110, 104);;
  color:white;
}